html
    head
        title= "Медучреждения"
        script(defer src='script.js')
    body
        h1= message
        table
            thead
                th Наименование учреждения
                th Адрес
                th Телефон
            tbody
                each item in arrayOfHospitalsObject
                    tr(data-id=item.id)
                        td #{item.full_name}
                        td #{item.adress}
                        td #{item.phone}
                        td 
                            button.delete Delete
                        td 
                            button.update Update

        h2 Новая организация
        div
            p Имя организации
                input(id="full_name" type="text")
            p Адрес
                input(id="adress" type="text")
            p Телефон
                input(id="phone" type="text")
            input(type="submit" value="Добавить")